body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: $color-text;
}

h1 {
  font-family: $font-poppins;
  font-weight: $font-bold;
}

h2 {
  font-family: $font-dm-sans;
  font-weight: $font-bold;
  font-size: 60px;
  text-align: center;
}

p {
  font-family: $font-dm-sans;
  font-weight: $font-regular;
}

a {
  font-family: $font-poppins;
  font-weight: $font-bold;
}

span {
  font-family: $font-poppins;
  font-weight: $font-regular;
}

button {
  font-family: $font-dm-sans;
  font-weight: $font-medium;
}

.main {
  flex: 1 0 auto;
  background-color: $color-background;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button,
.input,
.select {
  border: 1px solid transparent;
  padding: 1em 1.5em;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
}

.button {
  width: 200px;
  font-size: 20px;
  background-color: $color-button;
  color: inherit;
}

.textarea {
  resize: none;
}

button {
  width: 200px;
  height: 75px;
  background-color: $color-button;
  color: $color-text;
  border: 0;
  border-radius: 12px;
  font-size: 20px;
  font-family: $font-dm-sans;
  font-weight: $font-medium;
  transition: all 0.3s ease-in;
}

button:hover {
  background-color: $color-hover;
}

button:disabled {
  background-color: $color-disabled;
}
