@font-face {
  font-family: Poppins;
  src: url("./../../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url("./../../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url("./../../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  src: url("./../../fonts/DMSans/DMSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  src: url("./../../fonts/DMSans/DMSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  src: url("./../../fonts/DMSans/DMSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
