@import "@/assets/styles/abstracts/constants";

.form {
  width: 768px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  &__row {
    display: flex;
    gap: 5em;

    & + & {
      margin: 1.5em 0;
    }

    &_header {
      flex-direction: column;
      gap: 0.5em;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    &_url {
      flex-basis: 100%;
    }

    &_wrapper {
      display: flex;
      align-items: center;
      gap: 5em;
      margin-bottom: 0.5em;

      input {
        flex-basis: 100%;
      }
    }
  }

  &__label {
    color: $color-field;
    font-size: 22px;
    font-weight: $font-bold;
  }

  &__button {
    align-self: center;
  }
}
