@import "@/assets/styles/abstracts/constants";
@import "@/assets/styles/abstracts/placeholders";

.locateSwitch {
  width: 1em;
  height: 1em;
  margin-right: 2em;
  background-color: transparent;
  border: none;
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;

  @extend %transition;

  &:hover {
    color: $color-text-dark;
  }
}
