@import "@/assets/styles/abstracts/constants";

.form {
  width: 768px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  &__row {
    display: flex;
    gap: 5em;

    & + & {
      margin: 1.5em 0;
    }

    &_header {
      flex-direction: column;
      gap: 0.5em;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    &_url {
      flex-basis: 100%;
    }

    &_wrapper {
      display: flex;
      align-items: center;
      gap: 5em;
      margin-bottom: 0.5em;

      input {
        flex-basis: 100%;
      }
    }
  }

  &__label {
    color: $color-field;
    font-size: 22px;
    font-weight: $font-bold;
  }

  &__button {
    align-self: center;
  }
}

.headers {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;

  &__row {
    margin: 0.5em 0;
    display: flex;
    align-items: flex-end;
    gap: 1em;
    width: 100%;

    & + & {
      margin: 0.5em 0;
    }
  }

  &__label {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__button {
    padding: 0 1em;
    width: auto;
    height: 53px;
  }
}

.body {
  &__buttons {
    margin: 1em 0;
    display: flex;
    gap: 1em;
  }

  &__row {
    display: flex;
    gap: 0;
    flex-direction: column;
  }
}
