.sign-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-block {
  text-align: center;
}

.sign-block h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 84px;
}
