.sign {
  display: flex;
  justify-content: center;
  align-items: center;

  &__block {
    text-align: center;

    h2 {
      font-size: 60px;
      font-weight: 700;
      line-height: 84px;
    }
  }
}
