@import "@/assets/styles/abstracts/constans";
@import "@/assets/styles/abstracts/placeholders";

.header {
  position: sticky;
  top: 0;
  background-color: $color-background-light;
  display: flex;
  justify-content: center;
  height: 100px;

  @extend %transition;

  &_sticky {
    height: 60px;
    box-shadow: 0 0 1em 0 $color-background-light;
    background-color: $color-additional;
  }

  &__wrapper {
    max-width: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__controls {
    display: flex;
    gap: 1em;
  }

  &__links {
    display: flex;
    gap: 1em;
  }
}
