@import "@/assets/styles/abstracts/constants";
@import "@/assets/styles/abstracts/placeholders";

.header {
  position: sticky;
  top: 0;
  background-color: $color-background-light;
  display: flex;
  justify-content: center;
  height: 100px;

  h1 {
    font-size: 10x;
    @media (max-width: 550px) {
      font-size: 24px;
    }
    @media (max-width: 380px) {
      font-size: 14px;
    }
  }

  @extend %transition;

  &_sticky {
    height: 50px;
    box-shadow: 0 0 1em 0 $color-background-light;
    background-color: $color-additional;
  }

  &__wrapper {
    max-width: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 550px) {
      max-width: 100%;
      padding: 0 10px;
    }
  }

  &__controls {
    display: flex;
    gap: 1em;
    align-items: center;
  }

  &__links {
    display: flex;
    gap: 1em;
    @media (max-width: 550px) {
      flex-direction: column;
    }
  }
}
