@import "@/assets/styles/abstracts/constants";

.author-img {
  width: 180px;
  height: 280px;
  border-radius: 8px;
}

.author-text {
  max-width: 100%;
  background-color: $color-field;
  border-radius: 8px;
  color: $color-text-dark;
  padding: 20px;
  font-family: $font-poppins;
  pre {
    padding-left: 15px;
    margin: 0;
    white-space: pre-wrap;
  }
  a {
    font-weight: 700;
    transition: all 0.4s ease-in-out;
    &:hover {
      color: #aaa;
    }
  }
}
