$color-text: #fff;
$color-background: #24305e;
$color-background-light: #374785;
$color-additional: #a8d0e6;
$color-hover: #f7a16c;
$color-button: #f76c6c;
$color-disabled: #f76c6c52;
$color-field: #f8e9a1;
$color-text-dark: #000;
$color-text-hover: #aaa;
$color-border: #acacac;
$color-input-test: #3a3a3a;

$font-poppins: "Poppins", sans-serif;
$font-dm-sans: "DM Sans", sans-serif;

$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
