@import "@/assets/styles/abstracts/constants";
@import "@/assets/styles/abstracts/placeholders";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  line-height: 0.5em;

  &__label {
    margin-bottom: 1em;
    font-weight: $font-regular;
    color: $color-field;
    text-align: start;
    align-self: flex-start;
  }

  &__input {
    max-width: 320px;
    margin-bottom: 1.2em;
    padding: 0.5em 1em;
    border: 2px solid $color-border;
    color: $color-input-test;
  }

  &__error {
    font-size: 18px;
    max-width: 350px;
    color: red;
    align-self: flex-start;
    margin-top: -20px;
  }
}
