@import "@/assets/styles/abstracts/constants";
@import "@/assets/styles/abstracts/placeholders";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  line-height: 33px;

  &__label {
    margin-bottom: 10px;
    font-weight: 400;
    color: $color-label;
    text-align: start;
    align-self: flex-start;
  }

  &__input {
    width: 330px;
    height: 50px;
    margin-bottom: 30px;
    padding: 5px 7px;
    border: 2px solid $color-border;
    border-radius: 8px;
    color: $color-input-test;
  }

  &__button {
    width: 200px;
    height: 72px;
    background-color: $color-button;
    color: $color-text;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    @extend %transition;

    &:hover {
      background-color: $color-hover;
    }
  }

  &__error {
    font-size: 18px;
    max-width: 350px;
    color: red;
    align-self: flex-start;
    margin-top: -20px;
  }
}
